body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: black;
    width: 100%;
    height: 100%;
}

.container1 {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 20px 60px 20px;
}

.container1 h2 {
    color: black;
    text-align: center;
    margin: 15px 25px 40px 25px;
}

.row-cols-1 {
    margin: 20px 20px 0 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 60%;
}

.card-deck {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.content-item {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-item span {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.content-item h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #343a40;
}

.content-item p {
    font-size: 16px;
    line-height: 26px;
    color: #d10a0a;
}


/* hero */

body {
    width: 100%;
    height: 100%;
}

.hero {
    background-image: url("../img/b.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.hero h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 30px;
}

.hero a.btn {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.hero a.btn:hover {
    background-color: #0062cc;
}


/* navbar css */

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding: 8px 0;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #fff;
}

.navbar-nav>li>a {
    font-size: 18px;
    color: #fff;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    color: #1a86bc;
    outline: none;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #1ABC9C;
    outline: none;
}

.navbar-nav {
    margin-right: 0;
    padding-right: 0;
    justify-content: flex-end;
}


/* //features */

#features {
    background-color: #f5f0f0;
    padding: 50px 0;
}

#features h2 {
    text-align: center;
    margin-bottom: 50px;
    color: black;
}

.feature-row {
    margin-bottom: 50px;
}

.feature {
    background-color: #fff;
    padding: 20px
}

img {
    width: 80px;
    height: 70px;
    float: left;
    margin-left: 70px;
}